body {
margin: 0px;
font-family: "Open Sans", sans-serif;
font-size: 14px;
}

header {
    /*height: 100px;*/
    background-color: #238453;
    color: #FFF;
    margin: 0px;
    text-align: right;
}

.topbar {
    display: inline-flex;
    margin-bottom: 5px;
    font-size: 12px;
    font-style: light;
    height: 15px;
    background-color: #FFF;
    width: 100%;
}

.topleft {
  display: inline-flex;
  margin: 3px;

}

.topleft_email {
  display: inline-flex;
  margin-bottom: 10px;
  color: #3333338c;

}

.topmiddle {
  display: inline-flex;
  width: 90%;

}

.topright_social{
  display: inline-flex;
  text-align: right;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 3px;
}

/* img {
  width:100%;
} */

nav {
  display: inline-block;
  text-align: center;

}

.logo {
  float: left;
  width: 20%;
  margin: 3px;
  height: 100%;
  vertical-align: middle;
  margin-right: 15px;
  text-align: left;
}

.navtop {
  display: inline-block;
  width: 12%;
  text-align: center;
  align-items: center;
  height:100%;
  padding: 10px 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cart {
float: right;
width: 12%;
height:100%;
padding: 10px 0;
margin-top: 10px;
margin-bottom: 10px;

}




.navbar {
  margin: 5px;
  font-size: 12px;

}

.cart {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-left: 20px;

}

main {
height: 600px;

}

footer {
  height: 50px;
  background-color: #238453;
  text-align: center;
  color: #FFF;
  padding-top: 25px;
}
