body {
margin: 0px;
font-family: "Open Sans", sans-serif;
font-size: 14px;
}

/* body * {
    -webkit-font-smoothing: subpixel-antialiased !important;
    text-rendering:optimizeLegibility !important;
} */

.test2 {
  display: none;
}

@media screen and (max-width: 780px){
.test1 {

  display: none;
}

.test2 {
  display: block;
}

}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 11px;
    background: #ffc72c;
    color: #000;
    padding: 0 5px;
    vertical-align: super;
    margin-left: -15px;
}




header {
    /*height: 100px;*/
    background-color: #238453;
    color: #FFF;
    margin: 0px;
    font-weight: bolder;
}

a {
  color: #FFF;

}

header a:hover, a:active {
  text-decoration: underline;

}

a:link, a:visited {
  text-decoration: none;
  color: #FFF;

}




h1 {
font-size: 22px;
font-weight: bold;
text-align: center;
margin: 10px;
margin-top: 55px;
margin-bottom: 20px;

}

h2 {
font-size: 22px;
font-weight: bold;
text-align: center;
margin: 10px;
margin-top: 22px;

}

h4 {
font-size: 14px;
font-weight: normal;
text-align: center;
margin: 10px;
margin-top: 22px;

}

form {
  margin-top:30px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;

}

form input, option, select{
  width: 200px;
}

form a {

  color: #000;
}

.formtext {

margin-top:40px;
  color: #000;
  text-align: center;

}

.formtext a {

  color: #000;

}

.button {
  margin-top: 30px;

}

.topbar {
    display: inline-flex;
    margin-bottom: 5px;
    font-size: 12px;
    font-style: light;
    height: 15px;
    background-color: #FFF;
    width: 100%;
}

.topleft {
  display: inline-flex;
  margin: 3px;

}

.topleft_email {
  display: inline-flex;
  margin-bottom: 10px;
  color: #3333338c;

}

.topmiddle {
  display: inline-flex;
  width: 90%;

}

.topright_social{
  display: inline-flex;
  text-align: right;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 3px;
}

/* img {
  width:100%;
} */

.logo {
  display: inline-block;
  width: 15%;
  margin: 3px;
  height: 100%;
  vertical-align: middle;
  margin-right: 15px;
  margin-top: 12px;
  margin-bottom: 10px;

}

.test1{
  max-width: 200px;
  height: auto;

}



.test2{
 max-width: 47px;
 height: auto;
 margin-bottom: 3px;
}

.imagehome {
  width: 100%;
  height: 100%;

}

.imagehome img {

  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;

}


nav {
  vertical-align:middle;
  /* text-align: center; */
}

nav li {
  list-style-type: none;
  display: inline-block;
  height:100%;
  border: 10px;
  padding: 5px 0;
  margin-right: 15px;
  font-weight: 500;
  /* margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 10px; */


}

@media screen and (max-width: 510px){

nav li{

  margin-right: 4px;
  padding: 5px 0;
}

body {

  font-size: 13px;
}


}

@media screen and (max-width: 385px){

nav li{

  margin-right: 4px;
  padding: 5px 0;
}

body {

  font-size: 13px;
}


}

.nav2 {
  display: inline-block;
  vertical-align:middle;
  text-align: center;
  width: 67%;
  height:100%;
  padding: 10px 0;
  margin-top: 10px;
  margin-bottom: 10px;

}

.navbar {
  display: inline-block;
  margin: 5px;
  font-size: 12px;
  margin-top: 10px;

}

.navbar a {
  color: #000;
  text-decoration: underline;

}

@media screen and (max-width: 430px){

.navbar {

  display: none;
}
}

.userbar {
  display: inline-block;
  margin: 5px;
  font-size: 12px;
  margin-top: 10px;
  float: right;
  text-align: right;

}

.userbar a {
  color: #000;
  text-decoration: underline;

}

.cart {
  display: inline-block;
  height: 100%;
  width: 10%;
  vertical-align: middle;
  text-align: right;
  padding: 10px 0;

}

main {
height: 100%;
margin-top:30px;
margin-bottom: 60px;
text-align: center;
min-height: 500px;
}

.overview{

  display: inline-block;
}

.cards {
  display: inline-block;
  text-align: center;
  width:100%;

}

.wrap{

  text-align: center;
  max-width: 1000px:
}

.center{

  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}



.wrapper a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

/* @media screen and (max-width: 1100px){

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

} */

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media screen and (max-width: 650px){
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}

@media screen and (max-width: 430px){
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }
}

.description{
  display: inline-flex;
  padding: 20px;
  width: 20%;
  height: 100%;
  margin: 20px;
  margin-top: 0px;
  text-align: center;
  max-width: 160px;
  min-widtH: 130px;
}

.descr {

  width:100%;
}

.rcorners {
  display: inline-block;
      border-radius: 25px;
      border: 1px solid #bbacac;
      padding: 20px;
      width: 20%;
      /*height: 100%;*/
      margin: 20px;
      margin-bottom: 5px;
      text-align: center;
      box-shadow: 5px 5px 8px #888888;
      max-width: 160px;
      min-widtH: 130px;

}

.rcorners img{
  width:100%;
  height: 80px;
}


footer {
  height: 50px;
  background-color: #238453;
  text-align: center;
  color: #FFF;
  padding-top: 25px;
}
