body {
margin: 0px;
font-family: "Open Sans", sans-serif;
font-size: 14px;
}

.test2 {
  display: none;
}

@media screen and (max-width: 730px){
.test1 {

  display: none;
}

.test2 {
  display: block;
}


}

header {
    /*height: 100px;*/
    background-color: #238453;
    color: #FFF;
    margin: 0px;
    font-weight: bolder;
}

a {
  color: #FFF;

}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

h1 {
font-size: 22px;
font-weight: bold;
text-align: center;
margin: 10px;
margin-top: 22px;

}

form {
  margin-top:30px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;

}

form input, option, select{
  width: 200px;
}

form a {

  color: #000;
}

.formtext {

margin-top:40px;
  color: #000;
  text-align: center;

}

.formtext a {

  color: #000;

}

.button {
  margin-top: 30px;

}

.topbar {
    display: inline-flex;
    margin-bottom: 5px;
    font-size: 12px;
    font-style: light;
    height: 15px;
    background-color: #FFF;
    width: 100%;
}

.topleft {
  display: inline-flex;
  margin: 3px;

}

.topleft_email {
  display: inline-flex;
  margin-bottom: 10px;
  color: #3333338c;

}

.topmiddle {
  display: inline-flex;
  width: 90%;

}

.topright_social{
  display: inline-flex;
  text-align: right;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 3px;
}

/* img {
  width:100%;
} */

.logo {
  display: inline-block;
  width: 15%;
  margin: 3px;
  height: 100%;
  vertical-align: middle;
  margin-right: 15px;
  margin-top: 12px;
  margin-bottom: 10px;

}

.test1{
  max-width: 200px;
  height: auto;

}



.test2{
 max-width: 47px;
 height: auto;
 margin-bottom: 3px;
}


nav {
  vertical-align:middle;
  /* text-align: center; */
}

nav li {
  list-style-type: none;
  display: inline-block;
  height:100%;
  border: 10px;
  padding: 5px 0;
  margin-right: 15px;
  /* margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 10px; */


}

.nav2 {
  display: inline-block;
  vertical-align:middle;
  text-align: center;
  width: 67%;
  height:100%;
  padding: 10px 0;
  margin-top: 10px;
  margin-bottom: 10px;

}

.navbar {
  margin: 5px;
  font-size: 12px;

}

.cart {
  display: inline-block;
  height: 100%;
  width: 10%;
  vertical-align: middle;
  text-align: right;
  padding: 10px 0;

}

main {
height: 100%;
margin-top:20px;
margin-bottom: 60px;

}

.overview{

  display: inline-block;
}

.cards {
  display: inline-block;
  text-align: center;
  width:100%;

}

.description{
  display: inline-flex;
  padding: 20px;
  width: 20%;
  height: 100%;
  margin: 20px;
  margin-top: 0px;
  text-align: center;
}

.descr {

  width:100%;
}

.rcorners {
  display: inline-flex;
  border-radius: 25px;
  border: 1px solid #000;
  padding: 20px;
  width: 20%;
  height: 100%;
  margin: 20px;
  margin-bottom: 5px;
  text-align: center;
}

.rcorners img{
  width:100%;
  height: 100px;
}


footer {
  height: 50px;
  background-color: #238453;
  text-align: center;
  color: #FFF;
  padding-top: 25px;
}
